<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<div th:replace="layout/default :: header">&nbsp;</div>
<div class="container">
    <h2>Create user</h2>
    <div th:text="${message}"></div>
    <form action="/user/create" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="User Name"/>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" name="password" class="form-control" id="pwd" placeholder="Password"/>
        </div>
        <div class="form-group">
            <label for="repwd">Password</label>
            <input type="password" name="retypePassword" class="form-control" id="repwd" placeholder="Retype Password"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div th:replace="layout/default :: js">&nbsp;</div>
</body>
</html>