<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>User listing</title>

    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<div th:replace="layout/default :: header">&nbsp;</div>
<div class="container">
    <h2>User listing</h2>
    <hr/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>User Name</th>
            <th>Is Enabled</th>
        </tr>

        <tr th:each="user : ${user}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.enable}"></td>
        </tr>
    </table>
</div>
<div th:replace="layout/default :: js">&nbsp;</div>
</body>
</html>