<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>User listing</title>

    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<div th:replace="layout/default :: header">&nbsp;</div>
<div class="container">
    <script th:inline="javascript">

        //<![CDATA[

        var usersFromServerSide = /*[[${usersInJson}]]*/'User Name';

        /*]]>*/

    </script>
    <h2>User listing</h2>
    <span th:if="${message!=null}" th:text="${message}"></span>
    <a href="/user/create" class="btn btn-default pull-right">Create user</a>
    <table class="table table-bordered table-striped">
        <tr>
            <th>User Name</th>
            <th>Is Enabled</th>
            <th></th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.enabled}"></td>
            <td>
                <a th:href="@{|/user/delete/${user.userName}}|" class="btn btn-danger">Delete</a>
                <a th:href="@{|/user/edit/${user.userName}}|" class="btn btn-default">Edit</a>
            </td>
        </tr>
    </table>

    <scirpt>
        console.log(usersFromServerSide);
    </scirpt>
</div>
<div th:replace="layout/default :: js">&nbsp;</div>
</body>
</html>