<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
iv
<div th:replace="layout/default :: header">&nbsp;</div>
<div class="container">

    <h1>Login page</h1>
    <p>Example user: admin / admin</p>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/> <br/>
        <input type="submit" value="Log in"/>
    </form>
    <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</div>
<div th:replace="layout/default :: js">&nbsp;</div>
</body>
</html>